<%= form_with(model:task) do |form| %>
  <div>
    <%= form.label :name %> <%# style: "display: block; font-weight:bold; text-transform: uppercase;" %>
    <%= form.text_field :name %>
  </div>
  <br/>
  <div>
    <%= form.label :body %> <%# style: "display: block; font-weight:bold; text-transform: uppercase;" %>
    <%= form.text_field :body %>
  </div>
  <br/>
  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= button_to link_to "Back", categories_path %>