<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<nav class="nav-bar">
  <ul>
    <li><%= link_to "The Categories", categories_path %></li>
  </ul>
</nav>

<% if current_user %>
  <p>'Sup <%= current_user.email %>!</p>
  <p>You are a [<%= current_user.role %>]</p>
  <p>
    Successfully authenticated with a Devise account.
    The application is now ready for interaction!
  </p>
  
  <br>
  <%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete %>
  
<% else %>
  <p>You ain't signed in.</p>
  <%= link_to "Sign Up!", new_user_registration_path %>
  <br />
  <%= link_to "Login", new_user_session_path %>
<% end %>

